{% extends "archival/base.html" %}

{% block content %}
<h2>Applications</h2>
{% if user.is_superuser or user.groups.all.0.name == 'admin'%}
<a href="{% url 'application_add' %}" class="btn btn-success mb-3">Add New Application</a>
{% endif %}
<form method="get" class="mb-3">
                <div class="input-group w-25">
                    <input type="text" name="search" class="form-control" placeholder="Search by application..." value="{{ request.GET.search|default:'' }}">
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </div>
            </form>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Source</th>
            <th>Destination</th>
            <th>Archival Cut off Date</th>
            <th>Actions</th>
        </thead>
    <tbody>
        {% for app in apps %}
        <tr>
            <td>{{ app.name }}</td>
            <td>{{ app.src_conn }}</td>
            <td>{{ app.dstn_conn }}</td>
            <td>{{ app.max_date|default:'Not set' }}</td>                        
            <td>
                <a href="{% url 'module_list' app.id %}" class="btn btn-sm btn-info">Modules</a>
                {% if user.is_superuser or user.groups.all.0.name == 'admin'%}
                    <a href="{% url 'application_edit' app.id %}" class="btn btn-sm btn-warning">Edit</a>
                    <a href="{% url 'application_delete' app.id %}" class="btn btn-sm btn-danger" onclick="return confirm('Delete this application?')">Delete</a>
                {% endif %}
                <a href="{% url 'module_run' app.id %}" class="btn btn-sm btn-success">Process</a>
            </td>
        </tr>
        {% empty %}
        <tr><td colspan="8">No applications defined. Add one.</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}