{% extends "archival/base.html" %}

{% block content %}
<h2>Transactions Details</h2>
<form method="get" class="mb-3">
                <div class="input-group w-25">
                    <input type="text" name="search" class="form-control" placeholder="Search by any field..." value="{{ request.GET.search|default:'' }}">
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </div>
            </form>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Table Name</th>
            <th>Row Count</th>
            <th>Execution Time</th>
            <!-- <th>Archival Id</th> -->
            <th>Status</th>
            <th>Error Message</th>
        </thead>
    <tbody>
        {% for det in details %}
        <tr>
            <td>{{ det.table_name }}</td>
            <td>{{ det.row_count }}</td>
            <td>{{ det.execution_time }}</td>
            <!-- <td>{{ det.archival_id }}</td> -->
            <td>{{ det.status }}</td>
            <td>{{ det.error_message }}</td>
        </tr>
        {% empty %}
        <tr><td colspan="8">No transactions done yet.</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}