{% extends "archival/base.html" %}

{% block content %}
<h2>Transactions History</h2>
<form method="get" class="mb-3">
                <div class="input-group w-25">
                    <input type="text" name="search" class="form-control" placeholder="Search by any field..." value="{{ request.GET.search|default:'' }}">
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </div>
            </form>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Module</th>
            <th>UserName</th>
            <th>Archival Date</th>
            <th>Total Execution Time</th>
            <th>Actions</th>
        </thead>
    <tbody>
        {% for tran in transactions %}
        <tr>
            <td>{{ tran.module.name }}</td>
            <td>{{ tran.userName }}</td>
            <td>{{ tran.archival_date }}</td>
            <td>{{ tran.total_execution_time }}</td>
            <td>
                <a href="{% url 'transaction_detail' tran.id %}" class="btn btn-sm btn-info">View</a>
            </td>
        </tr>
        {% empty %}
        <tr><td colspan="8">No transactions done yet.</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}